@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth !important;
}

/*================== SCROLLBAR ============== */
::-webkit-scrollbar-thumb {
  background: #d0215d;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

.bg_featuredcards {
  background: linear-gradient(
    135.66deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(153, 153, 153, 0) 112.35%
  );
}

.bg_featuredcards:hover {
  border: 1px solid #d0215d;
}


.bg_roadmap {
  background-image: url("/assets/images/roadmap/bgRoadmap.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.button-gradient {
  background: linear-gradient(180deg, #7b1f67 -15.63%, #d0215d 100%) !important;
}

.button-gradient:hover {
  background: linear-gradient(180deg, #d0215d -15.63%, #7b1f67 100%) !important;
}

.markcardbg {
  background: linear-gradient(
    180deg,
    rgba(123, 31, 103, 0.1) -15.63%,
    rgba(208, 33, 93, 0.1) 100%
  );
}

.border-gradient {
  position: relative;
  z-index: 1;
}
.border-gradient {
  position: relative;
  z-index: 1;
}
.border-gradient:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid transparent;
  background: linear-gradient(180deg, #7b1f67 -15.63%, #d0215d 100%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  background: linear-gradient(180deg, #7b1f67 -15.63%, #d0215d 100%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}
/* ------------------------------------ Trading Logo Animation --------------------------------- */

.logo {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.faq-bg {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(
    154deg,
    rgba(255, 255, 255, 0.1) -31.17%,
    rgba(153, 153, 153, 0) 112.78%
  );
  backdrop-filter: blur(152px);
}
.faq-bg[data-state="open"] {
  border-bottom: 3px solid #a020f0;
}
.faq-bg[data-state="open"] button {
  padding-bottom: 12px;
}

.faq-bg[data-state="closed"] .minus-icon,
.faq-bg[data-state="open"] .pluse-icon {
  display: none;
}
@media (max-width: 1350px) {
  .scale_image {
    scale: 1.01 !important;
    transform: translateX(20px) !important;
  }
}
@media (max-width: 1280px) {
  .scale_image {
    scale: 1 !important;
    transform: translateX(0px) !important;
  }
}
.teamCardBg {
  background: linear-gradient(
    135.66deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(153, 153, 153, 0) 112.35%
  );
}
